<html>
  <head>
  {{>header}}
  </head>
  <body class="text-center d-block"> 
    {{>svgtemp}}
    {{>navtemp}}
    <main class="form-signin w-100 m-auto border border-secondary border-2 rounded">
    <h1 class="pb-5">Add a Goal</h1>
     <form method="post" role="form">
  <!-- Date input -->
  <div class="form-outline mb-4">
  <label class="form-label" for="date">Date</label>
  <input type="date" id="date" name="date" required autofocus>  
  </div>

  <!-- Category input -->
  <div class="form-outline mb-4">  
  <label for="category">Choose category:</label>
    <select id="category" name="category">
      <option value="fitness" selected>fitness</option>
      <option value="nutrition">nutrition</option>
      <option value="mental">mental</option>
      <option value="health">health</option>
    </select>
  </div>

  <!-- Goal input -->
  <div class="form-outline mb-4">
   <label class="form-label" for="goal">Enter goal</label>
    <textarea class="form-control" id="goal" name="goal" rows="2" required></textarea>
   
  </div>
  <!-- Submit button -->
  <button type="submit" value="Post goal" class="btn btn-primary btn-block mb-4">Create</button>
</form> 
</main>  
   {{>footer}}
  </body>
</html>

