<header>
      <nav class="flex-container">
        <a href="/">AGB</a>
        <ul class="nav-link">
          <li><a class="nav-a" href="/schedule">Schedule</a></li>
          <li><a class="nav-a" href="/goals">Add Goal</a></li>
          <li><a class="nav-a" href="/about">About</a></li>
          <li><a class="" role="button" aria-pressed="true" href="/logout">Logout</a></li>
        </ul>
      </nav>
    </header>