<html>
  <head>
  {{>header}}
  </head>
  {{>svgtemp}}
    {{>navtemp}}
  <body class="text-center d-block"> 
    <div class="jumbotron w-100 m-auto">
        <h1 class="display-4 text-danger">Error 404</h1>
        <p class="lead">There was a problem processing event. Please try again</p>
        <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Try Again</a>
      </div> 
      
    {{>footer}}
  </body>
</html>