<html>
  <head>
  {{>header}}
  </head>
  <body class="text-center"> 
    <div class="jumbotron w-100 m-auto">
        <h1 class="display-4 text-danger">Error 500</h1>
        <p class="lead">There was a problem with the server. Please try again.</p>
        <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Try Again</a>
      </div> 
      
  </body>
</html>