<html>
  <head>
  {{>header}}
  </head>
  <body class="text-center"> 
    <div class="jumbotron">
        <h1 class="display-4">Internal Server Error</h1>
        <p class="lead">There was a problem signing you up. Please try again or contact the developers</p>
      </div> 
  </body>
</html>