<html>
  <head>
  {{>header}}
  </head>
  <body class="text-center"> 
    <main class="form-signin w-100 m-auto">
      <form method="post">
        <img class="mb-4 dogImg" src="images/pexels-alexandru-rotariu-733416.jpg" alt="" width="112" height="97">

        <h1 class="h3 mb-3 fw-normal">Newsletter Sign Up!</h1>

        <input type="text" class="form-control top"  name="firstName" placeholder="First Name" autofocus>
        <input type="text" class="form-control middle"  name="secondName" placeholder="Second Name">
        <input type="email" class="form-control bottom"  name="email" placeholder="Email">
 
        <button class="w-100 btn btn-primary" type="submit">Sign Me Up</button>
        <p class="mt-5 mb-3 text-muted">&copy; mmusila 2022</p>
      </form>
      <div class="text-right"><a href="/signup" class="btn btn-primary">Write in the guestbook</a></div>
    </main>   
  </body>
</html>